<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.aaron.base" >

    <application
            android:networkSecurityConfig="@xml/base_network_security_config"
                 tools:targetApi="n" />

</manifest>