<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aaron.justlike">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".common.JustLike"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/WhiteTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">

        <activity
            android:name=".common.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/JustLikeTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:label="收藏"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name=".main.PreviewActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/PreviewTheme" />
        <activity
            android:name=".online.OnlineActivity"
            android:label="Just Like"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".online.SearchActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".online.ElementsActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".online.PreviewActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".collection.CollectionActivity"
            android:label="集合"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".collection.ElementActivity"
            android:label="元素"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.DownloadManagerActivity"
            android:label="下载管理"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.ThemeActivity"
            android:label="主题"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.AboutActivity"
            android:label="关于"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.widget.imageSelector.SelectorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".common.http.download.DownloadService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".common.http.download.DownloadIntentService"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.aaron.justlike.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>